@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.container .whyWe, .container .contact .contact-in article form .right-input, .container .contact .contact-in article form .left-input, .container .contact, .container .innovation .items-inn, .container .bands .bands-img .img-link, .container .offers .button, .container .category-test, .container main, .container nav .right-nav, .container nav .middle-nav ul, .container header .header .right-header, .container header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container footer .bottom, .container .contact .contact-in, .container .offers .offers-items, .container .categories .items, .container nav, .container header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container footer, .container .innovation, .container .bands, .container .offers .offers-items article, .container .offers, .container .categories .items a .items-c, .container .categories, .container, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container footer .top .box3, .container footer .top .box2 ul, .container .whyWe article, .container .contact .contact-in article form, .container .contact .contact-in article, .container .innovation .items-inn article, .container .category-test .right-ct article, .container .category-test .right-ct, .container main .left-main {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: left;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
}

:root {
  font-size: calc(4px + 1vh);
}

.container {
  width: 100%;
  max-width: 1380px;
  /*<<<<<<<<<<<<<<<<<<<header section start>>>>>>>>>>>>>>>>>>> */
  /*<<<<<<<<<<<<<<<<<<<header section ended>>>>>>>>>>>>>>>>>>> */
  /*<<<<<<<<<<<<<<<<<<<navbar section start>>>>>>>>>>>>>>>>>>>*/
  /*<<<<<<<<<<<<<<<<<<<navbar section ended>>>>>>>>>>>>>>>>>>>*/
  /*<<<<<<<<<<<<<<<<<<<responsiv section start>>>>>>>>>>>>>>>>>>>*/
  /*<<<<<<<<<<<<<<<<<<<responsiv section ended>>>>>>>>>>>>>>>>>>>*/
  /*<<<<<<<<<<<<<<<<<<<main section start>>>>>>>>>>>>>>>>>>>*/
  /*<<<<<<<<<<<<<<<<<<<main section ended>>>>>>>>>>>>>>>>>>>*/
  /*<<<<<<<<<<<<<<<<<<<categories section start>>>>>>>>>>>>>>>>>>>*/
  /*<<<<<<<<<<<<<<<<<<<categories section ended>>>>>>>>>>>>>>>>>>>*/
  /*<<<<<<<<<<<<<<<<<<<categories test section start>>>>>>>>>>>>>>>>>>>*/
  /*<<<<<<<<<<<<<<<<<<<categories test section ended>>>>>>>>>>>>>>>>>>>*/
  /*<<<<<<<<<<<<<<<<<<<offers section start>>>>>>>>>>>>>>>>>>>*/
  /*<<<<<<<<<<<<<<<<<<<offers section ended>>>>>>>>>>>>>>>>>>>*/
  /*<<<<<<<<<<<<<<<<<<<bands section start>>>>>>>>>>>>>>>>>>>*/
  /*<<<<<<<<<<<<<<<<<<<bands section ended>>>>>>>>>>>>>>>>>>>*/
  /*<<<<<<<<<<<<<<<<<<<innovation section start>>>>>>>>>>>>>>>>>>>*/
  /*<<<<<<<<<<<<<<<<<<<innovation section ended>>>>>>>>>>>>>>>>>>>*/
  /*<<<<<<<<<<<<<<<<<<<contact section start>>>>>>>>>>>>>>>>>>>*/
  /*<<<<<<<<<<<<<<<<<<<contact section ended>>>>>>>>>>>>>>>>>>>*/
  /*<<<<<<<<<<<<<<<<<<<whyWe section start>>>>>>>>>>>>>>>>>>>*/
  /*<<<<<<<<<<<<<<<<<<<whyWe section end>>>>>>>>>>>>>>>>>>>*/
  /*<<<<<<<<<<<<<<<<<<<footer section start>>>>>>>>>>>>>>>>>>>*/
  /*<<<<<<<<<<<<<<<<<<<footer section end>>>>>>>>>>>>>>>>>>>*/
}
.container header {
  width: 100%;
  height: 40px;
  background-color: #ffc01f;
}
.container header .header {
  width: 90%;
}
.container header .header .left-header p {
  font-size: 1rem;
}
.container header .header .right-header {
  gap: 25px;
}
.container nav {
  width: 90%;
  padding: 2rem 0;
}
@media (max-width: 768px) {
  .container nav .middle-nav {
    width: 100%;
    display: flex;
    justify-content: end;
  }
}
.container nav .middle-nav ul {
  gap: 2rem;
}
@media (max-width: 768px) {
  .container nav .middle-nav ul {
    display: none;
  }
}
@media (max-width: 992px) {
  .container nav .middle-nav ul {
    gap: 0.3rem;
  }
}
.container nav .middle-nav ul li {
  list-style: none;
  transition: 200ms;
}
.container nav .middle-nav ul li:hover {
  color: black;
  text-shadow: 1px 1px 1px grey;
}
.container nav .middle-nav ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #596c72;
  font-size: 1.3rem;
}
@media (max-width: 1199.98px) {
  .container nav .middle-nav ul li a {
    font-size: 1rem;
  }
}
.container nav .right-nav {
  max-width: 200px;
  gap: 10px;
  position: relative;
}
@media (max-width: 992px) {
  .container nav .right-nav .lang {
    display: flex;
    display: none;
    top: 2rem;
    position: absolute;
  }
}
.container nav .right-nav .lang a {
  text-decoration: none;
  font-size: 14px;
  color: #596c72;
  padding: 2px;
}
.container nav .right-nav .lang a:first-child {
  color: black;
}
.container nav .right-nav i:nth-child(2) {
  display: none;
}
@media (max-width: 768px) {
  .container nav .right-nav i:nth-child(2) {
    display: block;
  }
}
.container nav .right-nav i:nth-child(3) {
  display: none;
}
@media (max-width: 992px) {
  .container nav .right-nav i:nth-child(3) {
    display: block;
  }
}
@media (max-width: 768px) {
  .container nav .right-nav i:nth-child(3) {
    display: none;
  }
}
.container .response-menu {
  width: 90%;
  background-color: #ffc01f;
  padding: 10px;
  position: fixed;
  top: 0;
  transform: translateX(120%);
  transition: transform 1s;
}
.container .response-menu ul {
  padding: 20px 0;
  text-align: center;
}
.container .response-menu ul li {
  list-style: none;
  padding: 5px 0;
}
.container .response-menu ul li:hover {
  background-color: white;
}
.container .response-menu ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.container .response-menu .lang {
  text-align: center;
}
.container .response-menu .lang a {
  text-decoration: none;
  color: #596c72;
}
.container main {
  width: 90%;
  padding-top: 3rem;
}
@media (max-width: 1200px) {
  .container main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.container main .left-main {
  gap: 2.5rem;
}
@media (max-width: 1200px) {
  .container main .left-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.container main .left-main h1 {
  font-size: 4rem;
  color: #596c72;
}
@media (max-width: 992px) {
  .container main .left-main h1 {
    font-size: 3rem;
    text-align: center;
  }
}
.container main .left-main p {
  max-width: 55rem;
  text-align: center;
}
.container main .left-main button {
  width: 200px;
  height: 40px;
  color: #596c72;
  border: 1px solid #596c72;
  background-color: white;
  border-radius: 30px;
  transition: 200ms;
}
.container main .left-main button:hover {
  background-color: #ffc01f;
  border: 1px solid #ffc01f;
  cursor: pointer;
}
.container main .left-main button a {
  text-decoration: none;
  font-size: 14px;
  color: #596c72;
}
.container main .right-main {
  border: 1px solid rgba(0, 0, 0, 0.123);
  padding: 10px;
}
.container main .right-main img {
  max-width: 60rem;
  height: avto;
  box-shadow: 1px 1px 10px grey;
}
@media (max-width: 1199.98px) {
  .container main .right-main img {
    max-width: 63rem;
  }
}
@media (max-width: 992px) {
  .container main .right-main img {
    max-width: 50rem;
  }
}
@media (max-width: 576px) {
  .container main .right-main img {
    max-width: 45rem;
  }
}
@media (max-width: 510px) {
  .container main .right-main img {
    max-width: 35rem;
  }
}
@media (max-width: 415px) {
  .container main .right-main img {
    max-width: 30rem;
  }
}
@media (max-width: 350px) {
  .container main .right-main img {
    max-width: 25rem;
  }
}
.container .categories {
  width: 90%;
  gap: 30px;
  padding: 50px 0;
}
.container .categories h2 {
  color: #596c72;
  padding-bottom: 20px;
}
.container .categories .items {
  max-width: 1240px;
  flex-wrap: wrap;
  padding: 20px 0;
  gap: 10px;
}
@media (max-width: 992px) {
  .container .categories .items {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .container .categories .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.container .categories .items a {
  text-decoration: none;
}
.container .categories .items a .items-c {
  border: 1px solid rgba(128, 128, 128, 0.164);
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.247);
  padding: 10px;
  transition: 200ms;
}
.container .categories .items a .items-c:hover {
  transform: translate(-10px) scale(1.05);
}
.container .categories .items a .items-c h3 {
  color: #596c72;
}
.container .categories .items a .items-c img {
  width: 250px;
  height: 229px;
  padding: 5px;
}
.container .category-test {
  width: 90%;
  gap: 50px;
  padding: 50px 0;
}
@media (max-width: 1200px) {
  .container .category-test {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.container .category-test .left-ct {
  margin-top: 150px;
}
@media (max-width: 1200px) {
  .container .category-test .left-ct {
    display: none;
  }
}
.container .category-test .left-ct img {
  width: 330px;
  height: 540px;
}
.container .category-test .right-ct {
  padding-left: 60px;
  gap: 20px;
}
@media (max-width: 1200px) {
  .container .category-test .right-ct {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.container .category-test .right-ct img {
  max-width: 730px;
  height: auto;
  display: flex;
  justify-content: center;
}
@media (max-width: 1200px) {
  .container .category-test .right-ct img {
    width: 60rem;
  }
}
@media (max-width: 768px) {
  .container .category-test .right-ct img {
    width: 48rem;
  }
}
@media (max-width: 576px) {
  .container .category-test .right-ct img {
    width: 38rem;
  }
}
@media (max-width: 445px) {
  .container .category-test .right-ct img {
    width: 28rem;
  }
}
@media (max-width: 380px) {
  .container .category-test .right-ct img {
    width: 23rem;
  }
}
.container .category-test .right-ct article {
  gap: 20px;
}
@media (max-width: 1200px) {
  .container .category-test .right-ct article {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.container .category-test .right-ct article h2 {
  color: #596c72;
  font-size: 3rem;
  text-align: center;
}
@media (max-width: 576px) {
  .container .category-test .right-ct article h2 {
    font-size: 2rem;
  }
}
.container .category-test .right-ct article p {
  text-align: center;
}
.container .category-test .right-ct article a {
  text-decoration: none;
  width: 100%;
  text-align: center;
}
.container .category-test .right-ct article a button {
  width: 200px;
  height: 40px;
  color: #596c72;
  border: 1px solid #596c72;
  background-color: white;
  border-radius: 30px;
  transition: 200ms;
}
.container .category-test .right-ct article a button:hover {
  background-color: #ffc01f;
  border: 1px solid #ffc01f;
  cursor: pointer;
}
.container .offers {
  width: 90%;
  padding: 50px 0;
  gap: 2rem;
}
.container .offers h2 {
  color: #596c72;
}
.container .offers .offers-items {
  flex-wrap: wrap;
  gap: 15px;
}
@media (max-width: 992px) {
  .container .offers .offers-items {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .container .offers .offers-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.container .offers .offers-items article {
  border: 1px solid rgba(128, 128, 128, 0.098);
  box-shadow: 1px 1px 3px rgb(204, 202, 202);
  padding: 10px;
  gap: 10px;
  transition: 200ms;
}
.container .offers .offers-items article:hover {
  transform: translate(-10px) scale(1.05);
}
.container .offers .offers-items article img {
  width: 250px;
  height: 210px;
}
.container .offers .offers-items article .text-l {
  padding-right: 80px;
}
.container .offers .offers-items article .text-l h4 {
  color: #596c72;
}
.container .offers .offers-items article .text-l :nth-child(2) {
  font-size: 13px;
  color: #596c72;
}
.container .offers .offers-items article .text-l :nth-child(3) {
  font-size: 10px;
  color: #596c72;
}
.container .offers .offers-items article .text-r {
  padding-left: 80px;
}
.container .offers .offers-items article .text-r p {
  color: #ffc01f;
}
.container .offers .offers-items article a button {
  width: 255px;
  height: 40px;
  color: #596c72;
  border: 1px solid #596c72;
  background-color: white;
  border-radius: 30px;
  transition: 200ms;
}
.container .offers .offers-items article a button:hover {
  background-color: #ffc01f;
  border: 1px solid #ffc01f;
  cursor: pointer;
}
.container .offers .button {
  width: 100%;
}
.container .offers .button a button {
  width: 200px;
  height: 40px;
  color: #596c72;
  border: 1px solid #ffc01f;
  background-color: #ffc01f;
  border-radius: 30px;
  transition: 200ms;
}
.container .offers .button a button:hover {
  background-color: white;
  border: 1px solid #596c72;
  cursor: pointer;
}
.container .bands {
  width: 100%;
  padding: 50px 0;
  gap: 40px;
  overflow: hidden;
}
.container .bands h2 {
  color: #596c72;
}
.container .bands .bands-img {
  width: 100%;
  position: relative;
  animation: bands 20s linear infinite;
}
@keyframes bands {
  0% {
    left: 40px;
  }
  100% {
    left: 300px;
  }
}
.container .bands .bands-img .img-link {
  width: 100%;
  gap: 80px;
}
.container .innovation {
  width: 90%;
  gap: 30px;
  padding: 50px 0;
}
.container .innovation h2 {
  color: #596c72;
}
.container .innovation .items-inn {
  gap: 95px;
  flex-wrap: wrap;
}
.container .innovation .items-inn article {
  gap: 20px;
  width: 215px;
  height: auto;
}
.container .innovation .items-inn article img {
  max-width: 270px;
  height: auto;
}
@media (max-width: 992px) {
  .container .innovation .items-inn article img {
    width: 20rem;
  }
}
@media (max-width: 767px) {
  .container .innovation .items-inn article img {
    width: 20rem;
  }
}
.container .innovation .items-inn article :nth-child(3) {
  color: #596c72;
  font-size: 12px;
}
.container .innovation .items-inn article :nth-child(4) {
  color: #596c72;
  font-size: 10px;
}
.container .contact {
  width: 100%;
  height: auto;
  background-color: #efefef;
  margin: 80px 0;
  padding-bottom: 2rem;
}
.container .contact .contact-in {
  width: 90%;
  gap: 30px;
}
@media (max-width: 1200px) {
  .container .contact .contact-in {
    display: flex;
    flex-direction: column;
  }
}
.container .contact .contact-in article {
  width: 40%;
  gap: 20px;
}
@media (max-width: 1200px) {
  .container .contact .contact-in article {
    width: 100%;
    text-align: center;
  }
}
.container .contact .contact-in article h2 {
  color: #596c72;
}
@media (max-width: 1200px) {
  .container .contact .contact-in article h2 {
    width: 100%;
    text-align: center;
  }
}
.container .contact .contact-in article p {
  font-size: 12px;
}
.container .contact .contact-in article form {
  width: 100%;
  gap: 10px;
}
.container .contact .contact-in article form .left-input {
  width: 100%;
  gap: 10px;
}
@media (max-width: 992px) {
  .container .contact .contact-in article form .left-input {
    display: block;
  }
}
.container .contact .contact-in article form .left-input input {
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #596c72;
}
.container .contact .contact-in article form .right-input {
  width: 100%;
  gap: 10px;
}
@media (max-width: 992px) {
  .container .contact .contact-in article form .right-input {
    display: block;
  }
}
.container .contact .contact-in article form .right-input input {
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #596c72;
}
.container .contact .contact-in article input:nth-child(3) {
  padding: 10px;
  width: 100%;
  height: 40px;
  color: #596c72;
  border: 1px solid #596c72;
  background-color: white;
  border-radius: 30px;
  transition: 200ms;
}
.container .contact .contact-in article input:nth-child(3):hover {
  background-color: #ffc01f;
  border: 1px solid #ffc01f;
  cursor: pointer;
}
.container .contact .contact-in figure {
  width: 60%;
}
@media (max-width: 1200px) {
  .container .contact .contact-in figure {
    display: none;
  }
}
.container .contact .contact-in figure img {
  right: 5px;
  width: 650px;
  height: 520px;
  padding-bottom: 100px;
}
.container .whyWe {
  width: 90%;
  gap: 10px;
  margin: 50px 0;
}
@media (max-width: 992px) {
  .container .whyWe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.container .whyWe article {
  gap: 10px;
}
.container .whyWe article h2 {
  width: 100%;
  color: #596c72;
  font-size: 30px;
  text-align: center;
}
.container .whyWe article p {
  font-size: 14px;
  text-align: center;
}
.container .whyWe figure {
  border: 1px solid rgba(0, 0, 0, 0.123);
  padding: 10px;
}
.container .whyWe figure img {
  width: 641px;
  height: auto;
  box-shadow: 1px 1px 10px grey;
}
@media (max-width: 767px) {
  .container .whyWe figure img {
    width: 57rem;
  }
}
@media (max-width: 585px) {
  .container .whyWe figure img {
    width: 45rem;
  }
}
@media (max-width: 485px) {
  .container .whyWe figure img {
    width: 35rem;
  }
}
@media (max-width: 385px) {
  .container .whyWe figure img {
    width: 29rem;
  }
}
.container footer {
  width: 100%;
  gap: 10px;
  background: linear-gradient(to right, rgba(255, 192, 31, 0.1215686275), #ffffff, rgba(255, 192, 31, 0.1529411765));
}
.container footer .top {
  width: 90%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .container footer .top {
    flex-wrap: wrap;
  }
}
.container footer .top .box2 ul {
  gap: 5px;
}
.container footer .top .box2 ul li {
  list-style: none;
}
.container footer .top .box2 ul li a {
  text-decoration: none;
  color: #596c72;
}
.container footer .top .box2 ul li a:hover {
  text-shadow: 1px 1px 1px grey;
}
.container footer .top .box3 {
  gap: 12px;
}
.container footer .top .box3 p {
  color: #596c72;
}
.container footer .top .box4 p {
  color: #596c72;
  margin-bottom: 20px;
}
.container footer .top .box4 .icons-sosial {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.container footer .bottom {
  width: 90%;
  padding: 20px 0;
}
.container footer .bottom p {
  color: #596c72;
}/*# sourceMappingURL=homePage.css.map */