 @import '../style.scss';
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontFamilyMontserrat;
 }
header{
    width: 100%;
    height: 40px;
    background-color:$color;
    @extend %display-flex-center;
    .header{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left-header{
            p{
                font-size: 14px;
            }
        }
        .right-header{
            @extend %display-flex-center;
            gap: 5px;
        }
    }
}