@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.innovation .items-inn, .bands .bands-img .img-link, .offers .button, .category-test, main, nav .right-nav, nav .middle-nav ul, header .header .right-header, header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.offers .offers-items, .categories .items, nav, header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.innovation, .bands, .offers .offers-items article, .offers, .categories .items a .items-c, .categories, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.innovation .items-inn article, .category-test .right-ct article, .category-test .right-ct, main .left-main {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: left;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
}

/*<<<<<<<<<<<<<<<<<<<header section start>>>>>>>>>>>>>>>>>>> */
header {
  width: 100%;
  height: 40px;
  background-color: #FFC01F;
}
header .header {
  width: 90%;
}
header .header .left-header p {
  font-size: 14px;
}
header .header .right-header {
  gap: 25px;
}

/*<<<<<<<<<<<<<<<<<<<header section ended>>>>>>>>>>>>>>>>>>> */
/*<<<<<<<<<<<<<<<<<<<navbar section start>>>>>>>>>>>>>>>>>>>*/
nav {
  width: 90%;
  padding: 30px 0;
}
nav .middle-nav ul {
  gap: 40px;
}
nav .middle-nav ul li {
  list-style: none;
  transition: 200ms;
}
nav .middle-nav ul li:hover {
  color: black;
  text-shadow: 1px 1px 1px grey;
}
nav .middle-nav ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #596C72;
}
nav .right-nav {
  gap: 10px;
}
nav .right-nav a {
  text-decoration: none;
  font-size: 14px;
  color: #596C72;
}
nav .right-nav a:first-child {
  color: black;
}

/*<<<<<<<<<<<<<<<<<<<navbar section ended>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<main section start>>>>>>>>>>>>>>>>>>>*/
main {
  width: 90%;
  padding-top: 30px;
}
main .left-main {
  gap: 20px;
}
main .left-main h1 {
  font-size: 50px;
  color: #596C72;
}
main .left-main p {
  padding-right: 50px;
}
main .left-main button {
  width: 200px;
  height: 40px;
  color: #596C72;
  border: 1px solid #596C72;
  background-color: white;
  border-radius: 30px;
  transition: 200ms;
}
main .left-main button:hover {
  background-color: #FFC01F;
  border: 1px solid #FFC01F;
  cursor: pointer;
}
main .left-main button a {
  text-decoration: none;
  font-size: 14px;
  color: #596C72;
}
main .right-main {
  border: 1px solid rgba(0, 0, 0, 0.123);
  padding: 10px;
}
main .right-main img {
  width: 641px;
  height: 425px;
  box-shadow: 1px 1px 10px grey;
}

/*<<<<<<<<<<<<<<<<<<<main section ended>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<categories section start>>>>>>>>>>>>>>>>>>>*/
.categories {
  width: 90%;
  gap: 30px;
  padding: 50px 0;
}
.categories h2 {
  color: #596C72;
  padding-bottom: 20px;
}
.categories .items {
  max-width: 1240px;
  flex-wrap: wrap;
  padding: 20px 0;
  gap: 10px;
}
.categories .items a {
  text-decoration: none;
}
.categories .items a .items-c {
  border: 1px solid rgba(128, 128, 128, 0.164);
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.247);
  padding: 10px;
  transition: 200ms;
}
.categories .items a .items-c:hover {
  transform: translate(-10px) scale(1.05);
}
.categories .items a .items-c h3 {
  color: #596C72;
}
.categories .items a .items-c img {
  width: 250px;
  height: 229px;
  padding: 5px;
}

/*<<<<<<<<<<<<<<<<<<<categories section ended>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<categories test section start>>>>>>>>>>>>>>>>>>>*/
.category-test {
  width: 90%;
  gap: 50px;
  padding: 50px 0;
}
.category-test .left-ct {
  margin-top: 150px;
}
.category-test .left-ct img {
  width: 330px;
  height: 540px;
}
.category-test .right-ct {
  padding-left: 60px;
  gap: 20px;
}
.category-test .right-ct img {
  width: 730px;
  height: 450px;
}
.category-test .right-ct article {
  gap: 20px;
}
.category-test .right-ct article h2 {
  color: #596C72;
  font-size: 35px;
}
.category-test .right-ct article a {
  text-decoration: none;
}
.category-test .right-ct article a button {
  width: 200px;
  height: 40px;
  color: #596C72;
  border: 1px solid #596C72;
  background-color: white;
  border-radius: 30px;
  transition: 200ms;
}
.category-test .right-ct article a button:hover {
  background-color: #FFC01F;
  border: 1px solid #FFC01F;
  cursor: pointer;
}

/*<<<<<<<<<<<<<<<<<<<categories test section ended>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<offers section start>>>>>>>>>>>>>>>>>>>*/
.offers {
  width: 90%;
  padding: 50px 0;
  gap: 20px;
}
.offers h2 {
  color: #596C72;
}
.offers .offers-items {
  flex-wrap: wrap;
  gap: 15px;
}
.offers .offers-items article {
  border: 1px solid rgba(128, 128, 128, 0.098);
  box-shadow: 1px 1px 3px rgb(204, 202, 202);
  padding: 10px;
  gap: 10px;
  transition: 200ms;
}
.offers .offers-items article:hover {
  transform: translate(-10px) scale(1.05);
}
.offers .offers-items article img {
  width: 250px;
  height: 210px;
}
.offers .offers-items article .text-l {
  padding-right: 80px;
}
.offers .offers-items article .text-l h4 {
  color: #596C72;
}
.offers .offers-items article .text-l :nth-child(2) {
  font-size: 13px;
  color: #596C72;
}
.offers .offers-items article .text-l :nth-child(3) {
  font-size: 10px;
  color: #596C72;
}
.offers .offers-items article .text-r {
  padding-left: 80px;
}
.offers .offers-items article .text-r p {
  color: #FFC01F;
}
.offers .offers-items article a button {
  width: 255px;
  height: 40px;
  color: #596C72;
  border: 1px solid #596C72;
  background-color: white;
  border-radius: 30px;
  transition: 200ms;
}
.offers .offers-items article a button:hover {
  background-color: #FFC01F;
  border: 1px solid #FFC01F;
  cursor: pointer;
}
.offers .button {
  width: 100%;
}
.offers .button a button {
  width: 200px;
  height: 40px;
  color: #596C72;
  border: 1px solid #FFC01F;
  background-color: #FFC01F;
  border-radius: 30px;
  transition: 200ms;
}
.offers .button a button:hover {
  background-color: white;
  border: 1px solid #596C72;
  cursor: pointer;
}

/*<<<<<<<<<<<<<<<<<<<offers section ended>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<bands section start>>>>>>>>>>>>>>>>>>>*/
.bands {
  width: 100%;
  padding: 50px 0;
  gap: 40px;
  overflow: hidden;
}
.bands h2 {
  color: #596C72;
}
.bands .bands-img {
  width: 100%;
  position: relative;
  animation: bands 20s linear infinite;
}
@keyframes bands {
  0% {
    left: 40px;
  }
  100% {
    left: 300px;
  }
}
.bands .bands-img .img-link {
  width: 100%;
  gap: 80px;
}

/*<<<<<<<<<<<<<<<<<<<bands section ended>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<innovation section start>>>>>>>>>>>>>>>>>>>*/
.innovation {
  width: 90%;
  gap: 30px;
  padding: 50px 0;
}
.innovation h2 {
  color: #596C72;
}
.innovation .items-inn {
  gap: 80px;
}
.innovation .items-inn article {
  gap: 20px;
  width: 215px;
  height: 328px;
}
.innovation .items-inn article img {
  width: 270px;
  height: 200px;
}
.innovation .items-inn article :nth-child(3) {
  color: #596C72;
  font-size: 12px;
}
.innovation .items-inn article :nth-child(4) {
  color: #596C72;
  font-size: 10px;
}

/*<<<<<<<<<<<<<<<<<<<innovation section ended>>>>>>>>>>>>>>>>>>>*//*# sourceMappingURL=homePage.css.map */