@import "../variables/variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontFamilyMontserrat;
}
body {
  width: 100%;
  @extend %display-flex-d-c-c;
}
/*<<<<<<<<<<<<<<<<<<<header section start>>>>>>>>>>>>>>>>>>> */
header {
  width: 100%;
  height: 40px;
  background-color: $color;
  @extend %display-flex-center;
  .header {
    width: 90%;
    @extend %display-flex-jc-sb;
    .left-header {
      p {
        font-size: 14px;
      }
    }
    .right-header {
      @extend %display-flex-center;
      gap: 25px;
    }
  }
}
/*<<<<<<<<<<<<<<<<<<<header section ended>>>>>>>>>>>>>>>>>>> */
/*<<<<<<<<<<<<<<<<<<<navbar section start>>>>>>>>>>>>>>>>>>>*/

nav {
  width: 90%;
  @extend %display-flex-jc-sb;
  padding: 30px 0;
  .middle-nav {
    ul {
      @extend %display-flex-center;
      gap: 40px;
      li {
        list-style: none;
        transition: 200ms;
        &:hover {
          color: black;
          text-shadow: 1px 1px 1px grey;
        }
        a {
          @include textStyle();
        }
      }
    }
  }
  .right-nav {
    @extend %display-flex-center;
    gap: 10px;
    a {
      @include textStyle();
      &:first-child {
        color: black;
      }
    }
  }
}

/*<<<<<<<<<<<<<<<<<<<navbar section ended>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<main section start>>>>>>>>>>>>>>>>>>>*/

main {
  width: 90%;
  padding-top: 30px;
  @extend %display-flex-center;
  .left-main {
    @extend %display-flex-d-s-l;
    gap: 20px;
    h1 {
      font-size: 50px;
      color: $textColor;
    }
    p {
      padding-right: 50px;
    }
    button {
      @include buttonWhite();
      a {
        @include textStyle();
      }
    }
  }
  .right-main {
    border: 1px solid rgba(0, 0, 0, 0.123);
    padding: 10px;
    img {
      width: 641px;
      height: 425px;
      box-shadow: 1px 1px 10px grey;
    }
  }
}

/*<<<<<<<<<<<<<<<<<<<main section ended>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<categories section start>>>>>>>>>>>>>>>>>>>*/

.categories {
  width: 90%;
  gap: 30px;
  padding: 50px 0;
  @extend %display-flex-d-c-c;
  h2 {
    color: $textColor;
    padding-bottom: 20px;
  }
  .items {
    max-width: 1240px;
    @extend %display-flex-jc-sb;
    flex-wrap: wrap;
    padding: 20px 0;
    gap: 10px;
    a {
      text-decoration: none;
      .items-c {
        @extend %display-flex-d-c-c;
        border: 1px solid rgba(128, 128, 128, 0.164);
        box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.247);
        padding: 10px;
        transition: 200ms;
        &:hover {
          transform: translate(-10px) scale(1.05);
        }
        h3 {
          color: $textColor;
        }
        img {
          width: 250px;
          height: 229px;
          padding: 5px;
        }
      }
    }
  }
}

/*<<<<<<<<<<<<<<<<<<<categories section ended>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<categories test section start>>>>>>>>>>>>>>>>>>>*/

.category-test {
  width: 90%;
  @extend %display-flex-center;
  gap: 50px;
  padding: 50px 0;
  .left-ct {
    margin-top: 150px;
    img {
      width: 330px;
      height: 540px;
    }
  }
  .right-ct {
    padding-left: 60px;
    @extend %display-flex-d-s-l;
    gap: 20px;
    img {
      width: 730px;
      height: 450px;
    }
    article {
      @extend %display-flex-d-s-l;
      gap: 20px;
      h2 {
        color: $textColor;
        font-size: 35px;
      }
      a {
        text-decoration: none;
        button {
          @include buttonWhite();
        }
      }
    }
  }
}

/*<<<<<<<<<<<<<<<<<<<categories test section ended>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<offers section start>>>>>>>>>>>>>>>>>>>*/

.offers {
  width: 90%;
  padding: 50px 0;
  @extend %display-flex-d-c-c;
  gap: 20px;
  h2 {
    color: $textColor;
  }
  .offers-items {
    @extend %display-flex-jc-sb;
    flex-wrap: wrap;
    gap: 15px;
    article {
      border: 1px solid rgba(128, 128, 128, 0.098);
      box-shadow: 1px 1px 3px rgb(204, 202, 202);
      padding: 10px;
      @extend %display-flex-d-c-c;
      gap: 10px;
      transition: 200ms;
      &:hover {
        transform: translate(-10px) scale(1.05);
      }
      img {
        width: 250px;
        height: 210px;
      }
      .text-l {
        padding-right: 80px;
        h4 {
          color: $textColor;
        }
        :nth-child(2) {
          font-size: 13px;
          color: $textColor;
        }
        :nth-child(3) {
          font-size: 10px;
          color: $textColor;
        }
      }
      .text-r {
        padding-left: 80px;
        p {
          color: $color;
        }
      }
      a {
        button {
          @include buttonWhite($width: 255px);
        }
      }
    }
  }
  .button {
    width: 100%;
    @extend %display-flex-center;
    a {
      button {
        @include buttonYellow();
      }
    }
  }
}

/*<<<<<<<<<<<<<<<<<<<offers section ended>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<bands section start>>>>>>>>>>>>>>>>>>>*/

.bands {
  @extend %display-flex-d-c-c;
  width: 100%;
  padding: 50px 0;
  gap: 40px;
  overflow: hidden;
  h2 {
    color: $textColor;
  }
  .bands-img {
    width: 100%;
    position: relative;
    animation: bands 20s linear infinite;
    @keyframes bands {
      0% {
        left: 40px;
      }
      100% {
        left: 300px;
      }
    }
    .img-link {
      width: 100%;
      @extend %display-flex-center;
      gap: 80px;
    }
  }
}

/*<<<<<<<<<<<<<<<<<<<bands section ended>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<innovation section start>>>>>>>>>>>>>>>>>>>*/

.innovation {
  width: 90%;
  @extend %display-flex-d-c-c;
  gap: 30px;
  padding: 50px 0;
  h2 {
    color: $textColor;
  }
  .items-inn {
    @extend %display-flex-center;
    gap: 95px;
    article {
      @extend %display-flex-d-s-l;
      gap: 20px;
      width: 215px;
      height: 328px;
      img {
        width: 270px;
        height: 200px;
      }
      :nth-child(3) {
        color: $textColor;
        font-size: 12px;
      }
      :nth-child(4) {
        color: $textColor;
        font-size: 10px;
      }
    }
  }
}

/*<<<<<<<<<<<<<<<<<<<innovation section ended>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<contact section start>>>>>>>>>>>>>>>>>>>*/

.contact {
  width: 100%;
  height: 300px;
  background-color: #efefef;
  margin: 80px 0;
  @extend %display-flex-center;
  .contact-in {
    width: 90%;
    @extend %display-flex-jc-sb;
    gap: 30px;
    article {
      width: 40%;
      @extend %display-flex-d-s-l;
      gap: 20px;
      h2 {
        color: $textColor;
      }
      p {
        font-size: 12px;
      }
      form {
        width: 100%;
        @extend %display-flex-d-s-l;
        gap: 10px;
        .left-input {
          width: 100%;
          @extend %display-flex-center;
          gap: 10px;
          input {
            width: 100%;
            padding: 10px;
            border-radius: 30px;
            border: 1px solid $textColor;
          }
        }
        .right-input {
          width: 100%;
          @extend %display-flex-center;
          gap: 10px;
          input {
            width: 100%;
            padding: 10px;
            border-radius: 30px;
            border: 1px solid $textColor;
          }
        }
      }
      input:nth-child(3) {
        padding: 10px;
        @include buttonWhite($width: 100%);
      }
    }
    figure {
      width: 60%;
      img {
        right: 5px;
        width: 650px;
        height: 520px;
        padding-bottom: 100px;
      }
    }
  }
}

/*<<<<<<<<<<<<<<<<<<<contact section ended>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<whyWe section start>>>>>>>>>>>>>>>>>>>*/

.whyWe{
  width: 90%;
  @extend %display-flex-center;
  gap: 10px;
  margin: 50px 0;
  article{
    @extend %display-flex-d-s-l;
    gap: 10px;
    h2{
    color:$textColor;
    font-size: 30px;
    }
    p{
      font-size: 14px;
    }
  }
  figure{
    border: 1px solid rgba(0, 0, 0, 0.123);
    padding: 10px;
    img {
      width: 641px;
      height: 425px;
      box-shadow: 1px 1px 10px grey;
    }
  }
}

/*<<<<<<<<<<<<<<<<<<<whyWe section end>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<footer section start>>>>>>>>>>>>>>>>>>>*/
footer{
  width: 100%;
  @extend %display-flex-d-c-c;
  gap: 10px;
  background: linear-gradient(to right, #ffc01f1f,#FFFFFF, #ffc01f27  );
  .top{
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    .box2{
      ul{
        @extend %display-flex-d-s-l;
        gap: 5px;
        li{
          list-style: none;
          a{
            text-decoration: none;
            color: $textColor ;
          }
        }
      }
    }
    .box3{
      @extend %display-flex-d-s-l;
      gap: 12px;
      p{
        color: $textColor;
      }
    }
    .box4{
      p{
        color: $textColor;
        margin-bottom: 20px;
      }
      .icons-sosial{
        display: flex;
        justify-content: flex-start;
        gap: 20px;
      }
    }

  }
  .bottom{
    width: 90%;
    @extend %display-flex-jc-sb;
    padding: 20px 0;
    p{
      color: $textColor;
    }
  }
}
/*<<<<<<<<<<<<<<<<<<<footer section end>>>>>>>>>>>>>>>>>>>*/
