@import "../variables/variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontFamilyMontserrat;
}
body {
  width: 100%;
  @extend %display-flex-d-c-c;
}
:root {
  font-size: calc(4px + 1vh);
}
/*<<<<<<<<<<<<<<<<<<<header section start>>>>>>>>>>>>>>>>>>> */
header {
  width: 100%;
  height: 40px;
  background-color: $color;
  @extend %display-flex-center;
  .header {
    width: 90%;
    @extend %display-flex-jc-sb;
    .left-header {
      p {
        font-size: 1rem;
      }
    }
    .right-header {
      @extend %display-flex-center;
      gap: 25px;
    }
  }
}
/*<<<<<<<<<<<<<<<<<<<header section ended>>>>>>>>>>>>>>>>>>> */
/*<<<<<<<<<<<<<<<<<<<navbar section start>>>>>>>>>>>>>>>>>>>*/

nav {
  width: 90%;
  @extend %display-flex-jc-sb;
  padding: 2rem 0;
  .middle-nav {
    @media (max-width: 768px) {
      width: 100%;
      display: flex;
      justify-content: end;
    }
    ul {
      @extend %display-flex-center;
      gap: 2rem;
      @media (max-width: 768px) {
        display: none;
      }
      @media (max-width: 992px) {
        gap: 0.3rem;
      }

      li {
        list-style: none;
        transition: 200ms;
        &:hover {
          color: black;
          text-shadow: 1px 1px 1px grey;
        }
        a {
          @include textStyle();
          font-size: 1.3rem;
          @media (max-width: 1199.98px){
            font-size: 1rem;
          }
        }
      }
    }
  }
  .right-nav {
    max-width: 200px;
    @extend %display-flex-center;
    gap: 10px;
    position: relative;
    .lang {
      @media (max-width: 992px) {
        display: flex;
        display: none;
        top: 2rem;
        position: absolute;
      }
      a {
        @include textStyle();
        padding: 2px;
        &:first-child {
          color: black;
        }
      }
    }
    i:nth-child(2) {
      display: none;
      @media (max-width: 768px) {
        display: block;
      }
    }
    i:nth-child(3) {
      display: none;
      @media (max-width: 992px) {
        display: block;
      }
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}

/*<<<<<<<<<<<<<<<<<<<navbar section ended>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<responsiv section start>>>>>>>>>>>>>>>>>>>*/
.response-menu{
  width: 90%;
  background-color: $color;
  padding: 10px;
  position: fixed;
  top: 100px;
  transform: translateX(120%);
  transition: transform 1s ;
  ul{
    padding: 20px 0;
    text-align: center;
    li{
      list-style: none;
      padding: 5px 0;
      &:hover{
        background-color: white;
      }
      a{
        text-decoration: none;
        color: black;
        font-weight: 600;

      }
    }
  }
  .lang{
    text-align: center;
    a{
      text-decoration: none;
      color: $textColor;
    }
  }
}
/*<<<<<<<<<<<<<<<<<<<responsiv section ended>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<aboutUs section start>>>>>>>>>>>>>>>>>>>*/
.aboutUs {
  width: 90%;
  @extend %display-flex-d-c-c;
  .top-about {
    padding: 10px 0;
    ul {
      display: flex;
      justify-content: flex-start;
      gap: 15px;
      li {
        list-style: none;
      }
      a {
        text-decoration: none;
        color: $textColor;
        &:hover {
          text-shadow: 1px 1px 1px grey;
        }
      }
      :nth-child(2) {
        a {
          color: black;
        }
      }
    }
  }
  article {
    @extend %display-flex-d-c-c;
    gap: 10px;
    h1{
      color:$textColor;
      font-size: 4rem;
      @media (max-width:576px) {
        font-size: 2rem;
      }
    }
    a{
      text-decoration: none;
      color:$color;
      &:hover {
        text-shadow: 1px 1px 1px grey;
      }
    }
    p{
      text-align: center;
      color: $textColor;
      width: 100%;
    }
  }

  .bottom-about {
    border: 1px solid rgba(0, 0, 0, 0.123);
    padding: 10px;
    margin: 20px 0;
    img {
      width: 100%;
      box-shadow: 1px 1px 10px grey;
    }
  }
}
/*<<<<<<<<<<<<<<<<<<<aboutUs section ended>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<categories test section start>>>>>>>>>>>>>>>>>>>*/

.category-test {
  width: 90%;
  @extend %display-flex-center;
  gap: 50px;
  padding: 50px 0;
  @media (max-width:1200px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .left-ct {
    @media (max-width:1200px){
      display: none;
    }
    margin-top: 150px;
    img {
      width: 330px;
      height: 540px;
    }
  }
  .right-ct {
    padding-left: 60px;
    @extend %display-flex-d-s-l;
    gap: 20px;
    @media (max-width:1200px){
      padding-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    img {
      max-width: 730px;
      height: auto;
      @media (max-width:1200px){
        width: 60rem;
      }
      @media (max-width:768px){
        width: 45rem;
      }
      @media (max-width:576px){
        width: 22rem;
      }
    }
    article {
      @extend %display-flex-d-s-l;
      gap: 20px;
      @media (max-width:1200px){
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      h2 {
        color: $textColor;
        font-size: 3rem;
        text-align: center;
        @media (max-width:576px){
          font-size: 2rem;
        }
      }
      a {
        text-decoration: none;
        button {
          @include buttonWhite();
        }
      }
    }
  }
}

/*<<<<<<<<<<<<<<<<<<<categories test section ended>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<whyWe section start>>>>>>>>>>>>>>>>>>>*/

.whyWe {
  width: 90%;
  @extend %display-flex-center;
  gap: 10px;
  margin: 50px 0;
  @media (max-width:992px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  article {
    @extend %display-flex-d-s-l;
    gap: 10px;
    h2 {
      color: $textColor;
      font-size: 30px;
    }
    p {
      font-size: 14px;
    }
  }
  figure {
    border: 1px solid rgba(0, 0, 0, 0.123);
    padding: 10px;
    img {
      width: 641px;
      height: auto;
      box-shadow: 1px 1px 10px grey;
      @media (max-width:767px) {
        width: 50rem;
      }
      @media (max-width:575px) {
        width: 30rem;
      }
    }
  }
}

/*<<<<<<<<<<<<<<<<<<<whyWe section end>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<footer section start>>>>>>>>>>>>>>>>>>>*/
footer {
  width: 100%;
  @extend %display-flex-d-c-c;
  gap: 10px;
  background: linear-gradient(to right, #ffc01f1f, #ffffff, #ffc01f27);
  .top {
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    @media (max-width:992px) {
      flex-wrap: wrap;
    }
    .box2 {
      ul {
        @extend %display-flex-d-s-l;
        gap: 5px;
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: $textColor;
            &:hover {
              text-shadow: 1px 1px 1px grey;
            }
          }
        }
      }
    }
    .box3 {
      @extend %display-flex-d-s-l;
      gap: 12px;
      p {
        color: $textColor;
      }
    }
    .box4 {
      p {
        color: $textColor;
        margin-bottom: 20px;
      }
      .icons-sosial {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
      }
    }
  }
  .bottom {
    width: 90%;
    @extend %display-flex-jc-sb;
    padding: 20px 0;
    p {
      color: $textColor;
    }
  }
}
/*<<<<<<<<<<<<<<<<<<<footer section end>>>>>>>>>>>>>>>>>>>*/
