
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$fontFamilyMontserrat: 'Montserrat', sans-serif;
$color:#FFC01F;
$textColor:#596C72;

%display-flex-center{
    display: flex;
    justify-content:center ;
    align-items: center;
}
%display-flex-jc-sb{
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
%display-flex-d-c-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin button (
    $height:40px,
    $borderColor:#596C72,
){
    border: 1px solid $borderColor;
    $borderRadius:30px;
    transition: 200ms;
    &:hover{
        background-color: #FFC01F;
    }
}
@mixin button (
    $height:40px,
    $borderColor:#FFC01F,
){
    border: 1px solid $borderColor;
    $borderRadius:30px;
    transition: 200ms;
    &:hover{
        background-color: white;
    }
}
