@import "../variables/variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontFamilyMontserrat;
}
body {
  width: 100%;
  @extend %display-flex-d-c-c;
}
:root {
  font-size: calc(4px + 1vh);
}
/*<<<<<<<<<<<<<<<<<<<header section start>>>>>>>>>>>>>>>>>>> */
header {
  width: 100%;
  height: 40px;
  background-color: $color;
  @extend %display-flex-center;
  .header {
    width: 90%;
    @extend %display-flex-jc-sb;
    .left-header {
      p {
        font-size: 1rem;
      }
    }
    .right-header {
      @extend %display-flex-center;
      gap: 25px;
    }
  }
}
/*<<<<<<<<<<<<<<<<<<<header section ended>>>>>>>>>>>>>>>>>>> */
/*<<<<<<<<<<<<<<<<<<<navbar section start>>>>>>>>>>>>>>>>>>>*/

nav {
  width: 90%;
  @extend %display-flex-jc-sb;
  padding: 2rem 0;
  .middle-nav {
    @media (max-width: 768px) {
      width: 100%;
      display: flex;
      justify-content: end;
    }
    ul {
      @extend %display-flex-center;
      gap: 2rem;
      @media (max-width: 768px) {
        display: none;
      }
      @media (max-width: 992px) {
        gap: 0.3rem;
      }

      li {
        list-style: none;
        transition: 200ms;
        &:hover {
          color: black;
          text-shadow: 1px 1px 1px grey;
        }
        a {
          @include textStyle();
          font-size: 1.3rem;
          @media (max-width: 1199.98px){
            font-size: 1rem;
          }
        }
      }
    }
  }
  .right-nav {
    max-width: 200px;
    @extend %display-flex-center;
    gap: 10px;
    position: relative;
    .lang {
      @media (max-width: 992px) {
        display: flex;
        display: none;
        top: 2rem;
        position: absolute;
      }
      a {
        @include textStyle();
        padding: 2px;
        &:first-child {
          color: black;
        }
      }
    }
    i:nth-child(2) {
      display: none;
      @media (max-width: 768px) {
        display: block;
      }
    }
    i:nth-child(3) {
      display: none;
      @media (max-width: 992px) {
        display: block;
      }
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}

/*<<<<<<<<<<<<<<<<<<<navbar section ended>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<responsiv section start>>>>>>>>>>>>>>>>>>>*/
.response-menu{
  width: 90%;
  display: none;
  background-color: $color;
  padding: 10px;
  ul{
    padding: 20px 0;
    text-align: center;
    li{
      list-style: none;
      padding: 5px 0;
      &:hover{
        background-color: white;
      }
      a{
        text-decoration: none;
        color: black;
        font-weight: 600;

      }
    }
  }
  .lang{
    text-align: center;
    a{
      text-decoration: none;
      color: $textColor;
    }
  }
}
/*<<<<<<<<<<<<<<<<<<<responsiv section ended>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<techniques section start>>>>>>>>>>>>>>>>>>>*/
.techniques {
  width: 90%;
  padding: 30px 0 50px 0;
  .top-nav {
    width: 100%;
    ul {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      li{
        list-style: none;
        padding-right: 10px;
        a{
          text-decoration: none;
          color: $textColor;
        }
      }
      :nth-child(2){
        a{
          color: black;
        }
      }
    }
  }
  h2{
    color: $textColor;
    font-size: 2rem;
    text-align: center;
  }
  .tech-nav{
    width: 100%;
    padding: 50px 0;
    position: fixed;
    top: 200px;
    transform: translateX(100%);
    transition: transform 1s ; 
    ul{
      @extend %display-flex-jc-sb;
      border: 1px solid $textColor;
      border-radius: 30px;

      @media (max-width:767px) {
        display: flex;
        flex-direction: column;
        border: none;
      }
      li{
        list-style: none;
        padding: 10px;
        border-radius: 30px;
        &:hover{
          background-color: $color;
          color:black
        }
        @media (max-width:767px) {
          background-color: $color;
          width: 100%;
          text-align: center;
          border-radius: 0;
        }
        a{
          text-decoration: none;
          color: $textColor;
          font-weight: 600;
        }
      }
      li:nth-child(2){
        background-color: $color;
        color:black
      }
    }
  }
  .offers-items {
    @extend %display-flex-jc-sb;
    flex-wrap: wrap;
    gap: 15px;
    @media (max-width:767px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    article {
      border: 1px solid rgba(128, 128, 128, 0.098);
      box-shadow: 1px 1px 3px rgb(204, 202, 202);
      padding: 10px;
      @extend %display-flex-d-c-c;
      gap: 10px;
      transition: 200ms;
      &:hover {
        transform: translate(-10px) scale(1.02);
      }
      img {
        width: 250px;
        height: 210px;
      }
      .text-l {
        padding-right: 80px;
        h4 {
          color: $textColor;
        }
        :nth-child(2) {
          font-size: 13px;
          color: $textColor;
        }
        :nth-child(3) {
          font-size: 10px;
          color: $textColor;
        }
      }
      .text-r {
        padding-left: 80px;
        p {
          color: $color;
        }
      }
      a {
        button {
          @include buttonWhite($width: 255px);
        }
      }
    }
  }
}
/*<<<<<<<<<<<<<<<<<<<techniques section ended>>>>>>>>>>>>>>>>>>>*/

/*<<<<<<<<<<<<<<<<<<<footer section start>>>>>>>>>>>>>>>>>>>*/
footer {
  width: 100%;
  @extend %display-flex-d-c-c;
  gap: 10px;
  background: linear-gradient(to right, #ffc01f1f, #ffffff, #ffc01f27);
  .top {
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    @media (max-width:992px) {
      flex-wrap: wrap;
    }
    .box2 {
      ul {
        @extend %display-flex-d-s-l;
        gap: 5px;
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: $textColor;
            &:hover {
              text-shadow: 1px 1px 1px grey;
            }
          }
        }
      }
    }
    .box3 {
      @extend %display-flex-d-s-l;
      gap: 12px;
      p {
        color: $textColor;
      }
    }
    .box4 {
      p {
        color: $textColor;
        margin-bottom: 20px;
      }
      .icons-sosial {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
      }
    }
  }
  .bottom {
    width: 90%;
    @extend %display-flex-jc-sb;
    padding: 20px 0;
    p {
      color: $textColor;
    }
  }
}
/*<<<<<<<<<<<<<<<<<<<footer section end>>>>>>>>>>>>>>>>>>>*/

